// Colors
$primary-black: #050505;
$primary-blue: #004fff;
$primary-cyan: #31afd4;
$primary-red: #902d41;

// Font weights
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;

// Font sizes
$font-ss: 12px;
$font-s: 14px;
$font-n: 16px;
$font-m: 18px;
$font-l: 20px;
$font-xl: 24px;
